
body {

    padding: 100;
    font-family: Arial, sans-serif, 'Times New Roman', Times, serif;
    background-color: #0a0116;
    color: #b673d1;
    background: #0b0118;
}

html {
    scroll-behavior: smooth;
}


nav {
    border-radius: 30px;
    display: flex;
    align-items: left;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background: rgba(46, 1, 48, 0.8);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: relative;
    top: 0;
    z-index: 1;
}



nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #d16ec1;
    font-weight: 500;
    position: relative;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #412e64;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: linear-gradient(90deg, #ffffff, #995cd1);
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}


.profile-pic {
    
    width: 25em;
    border-radius: 30px;
    border: 10px solid #140324;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    align-content: right;
    position: sticky;
    right: 20px;
    top: 90px;
    z-index: 2;
}


#Home {
    container-type: inline-size;
   
    position: relative;
    flex: grid;

}


.headline {
    font-size: 6em;
    text-align: left;
    margin-top: 20px;
    margin-left: 100px;
    color: #b673d1;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.subheadline {
    margin-left: 250px;
    font-size: 1.5em;
    text-align: left;
    margin-top: 10px;
    color: #b673d1;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

h1 {
    font-size: 2.5em;
    color: #b673d1;
    text-align: center;
    margin-top: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

#Experiences {
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;

    position: relative;
    flex: content;
    box-sizing: border-box;
    border-color: #7c29c9;
    box-shadow: 0 4px 6px rgba(132, 57, 167, 0.185);

}

.ProjectCard {

    padding: 50px;
    margin-bottom: 50px;
    margin-left: 20em;
    margin-right: 20em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(182, 153, 206);
    color: blueviolet;

    border-radius: 32px;

    text-decoration: #0a0116;
    border: .4em solid #6d0c68c7;

}

.projectImage {
    padding: 10px;
    align-content: center;
    align-self: center;
    background-size: cover;
    background-color: #0b0118;
    background-position: center;
    background-image: url('images/cube.png');
    align-items: center;
    width: 10em;
    height: 10em;
    border-radius: 1024px;
    border: 6px solid #6d0c68c7;
    box-shadow: 0 4px 6px rgba(132, 57, 167, 0.185);
}

/* Responsive styles */
@media (max-width: 15360px ) {
    .profile-pic  {
        margin-left: 45em;
        
        margin-right : auto;
        width : 20em;
    }
    .headline {
        font-size: 4em;
        margin-left: 50px;
    }
    .subhheadline {
        font-size: 1.2em;
         margin-left: 100px;
    }
    .ProjectCard {
        margin-left: 5%;
        margin-right: 5%;
    }
    .projectImage {
        width: 8em;
        height: 8em;
    }
    .experienceCard {
        margin-left: 30%;
        margin-right: 30%;
        text-align: center;
    
    }
    .contactCard {
        margin-left: 30%;
        margin-right: 30%;
        text-align: center;
        width: 1em;
    }
    #facebookIcons {
        margin-left: 5em;
        margin-right: 5em;
    }
    #EmailIcons {
        margin-left: 5em;
        margin-right: 5em;
    }
}
@media (max-width: 800px) {
    .profile-pic  {
        margin-left: 10%;
        
        margin-right : 10%;
        width : 80%;
    }
nav ul {
        flex-direction: column;
        gap: 10px;
    }
    
    .headline {
        margin-left: 25%;
        margin-right: 25%;
        font-size: 3em;
       
    }
    .sub headline {
        margin-left: 7%;
        margin-right: 7%;
        font-size: 1em;
        ;
        }
        .ProjectCard {
        margin-left :2em;
        margin-right: 2em;
        padding:20px;
        }
        .project Image {
            width :6em;
            height: 6em;
        }
        .experienceCard {
           
            padding: 10px;
            max-width: 600px;
        }
        .contactCard {
            margin-left: 2em;
            margin-right: 2em;
            padding: 20px;
        }
        #facebookIcons {
            margin-left: 2em;
            margin-right: 2em;
        }
        #EmailIcons {
            margin-left: 2em;
            margin-right: 2em;
        }
    }
@media (max-width: 480px) {
    .profile-pic  {
        margin-left: 10%;
        
        margin-right : 10%;
        width : 80%;
    }
        .headline {
            font-size: 2em;
            margin-left: 10px;
        }
        .subheadline {
            margin-left: 10px;
            font-size: 0.8em;
        }
        .ProjectCard {
            margin-left : 1em;
            margin-right : 1em;
            padding: 10px;
        }
        .experienceCard {
            margin-left: 5%;
            margin-right: 5%;
            padding: 10px;
            max-width: fit-content;
        }
        .contactCard {
            margin-left: 1em;
            margin-right: 1em;
            padding: 10px;
        }
        #facebookIcons {
            margin-left: 1em;
            margin-right: 1em;
        }
        #EmailIcons {
            margin-left: 1px;
            margin-right: 1px;
        }
    }
.projectImage2 {
    padding: 10px;

    align-content: center;
    align-self: center;
    background-size: contain;
    background-color: #0b0118;
    background-position: center;
    background-image: url('images/tri.gif');
    align-items: center;
    width: 10em;
    height: 10em;
    border-radius: 1024px;
    border: 6px solid #6d0c68c7;
    box-shadow: 0 4px 6px rgba(132, 57, 167, 0.185);
}

.projectImage3 {
    padding: 10px;

    align-content: center;
    align-self: center;
    background-size: cover;
    background-color: #0b0118;
    background-position: center;
    background-image: url('images/git.png');
    align-items: center;
    width: 10em;
    height: 10em;
    border-radius: 1024px;
    border: 6px solid #6d0c68c7;
    box-shadow: 0 4px 6px rgba(132, 57, 167, 0.185);
}

#Project {

    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;

    position: relative;
    flex: content;
    box-sizing: border-box;
    border-color: #7c29c9;
    box-shadow: 0 4px 6px rgba(132, 57, 167, 0.185);

}

h2 {
    font-size: 2.5em;
    color: #b673d1;
    text-align: center;

    margin-top: 20px;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}




#headingProject {
    text-shadow: none;
    font-size: 2.5em;
    color: #390c5a;
    text-align: center;
    margin-top: 20px;

}

.servicesCard {
    padding: 50px;
    margin-bottom: 50px;
    margin-left: 20em;
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: left;
    background-color: rgb(182, 153, 206);
    color: blueviolet;
    height: 8em;
    width: 40em;
    border-width: 2px;
    border-radius: 32px;
    border-color: rgb(241, 223, 237);
    box-shadow: #be5e5e;
    border: .4em solid #6d0c68c7;

}

.experienceCard {
   padding: 50px;
    margin-bottom: 50px;

    background-color: rgb(182, 153, 206);
    color: blueviolet;

    border-width: 2px;
    border-radius: 32px;
    border-color: rgb(241, 223, 237);
    box-shadow: #be5e5e;
    border: .5em solid #6d0c68c7;

}

.contactCard {

    padding: 50px;
    margin-bottom: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(182, 153, 206);
    color: blueviolet;
    border-width: 0.5px;
   
    border-radius: 32px;
    border-color: rgb(241, 223, 237);
    border: .4em solid #6d0c68c7;

}

#facebookIcons {
    border-radius: .75em;
    margin-left: 15em;
    box-shadow: none;
    margin-right: 15em;
}

#contact {
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

#Projects {
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

#EmailIcons {
    
        border-radius: .75em;
        margin-left: 15em;
        box-shadow: none;
        margin-right: 15em;
}
            
        

